ul li a.active {
  color: #d99904 !important;
  background: none !important;
  font-weight: 700;
  text-decoration: underline;
}
ul li a.active:hover {
  color: #d99904 !important;
  font-weight: 700;
}

ul li a:hover {
  background: none !important;
  font-weight: 500;
  color: #ffffff !important;
}

ul li a {
  color: #ffffff;
}
